.idea
/src
.prettierrc
.github
.prettierignore
eslint.config.mjs
/docs
/coverage
*.tgz
.husky

# Build and development files
rollup.config.js
tsconfig.json
temp/
CODE_OF_CONDUCT.md
CONTRIBUTING.md
SECURITY.md